.navcontainer {
  display: inline-block;
  width: 100%;
}

.navcontainer .nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  position: absolute;
  width: 100%;
  background: #64d861;
  height: 70px;
  padding: 10px 200px 10px 10px;
  z-index: 1000;
}

/* TODO: test */
.active {
  /* border-bottom: 1px solid #333; */
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .navcontainer .nav {
    display: none;
  }
}

.navcontainer .nav img {
  height: 50px;
}

.navcontainer .nav h1 {
  color: #fff !important;
  text-decoration: none;
  margin: 0 20px;
  line-height: 50px;
}

.navcontainer {
  display: inline-block;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background: #64d861;
  height: 70px;
  padding: 10px 200px 10px 10px;
  z-index: 1000;
  color: #fff !important;
  text-decoration: none;
  margin: 0 20px;
  line-height: 50px;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.25);
}

.nav-link:focus, .nav-link:active {
  outline: none !important;
  box-shadow: none;
}
